.button {
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  border: none;
  cursor: pointer;
  transition: background-color 0.2s;
  font-weight: 500;
  color: white;
  background-color: #3b82f6;
}

.button:hover {
  background-color: #2563eb;
}

.button-primary {
  display: flex;
  margin-top: 10px;
  background-color: #3b82f6;
}

.button-dzial.active {
  background-color: #2563eb;
}
